---
import "../styles/base.css";
---

<html lang="de">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>ATec Show Control</title>
    </head>
    <body>
        <slot />
    </body>
</html>
