---
import BaseLayout from "../layouts/base.astro";
import { getCollection } from "astro:content";
import { type AgendaPointType } from "../content/config";

const agendaPoints = await getCollection("agenda");
---

<BaseLayout>
    {
        agendaPoints.map((point: { data: AgendaPointType }) => (
            <div class="border-2 border-black w-fit p-2">
                <h2>{point.data.title}</h2>
                <p>{point.data.date}</p>
                <p>{point.data.time}</p>
                <p>{point.data.type}</p>
            </div>
        ))
    }
</BaseLayout>
