---
import BaseLayout from "../layouts/base.astro";
import { getCollection } from "astro:content";
import { type AgendaPointType } from "../content/config";
import AgendaPoint from "../components/AgendaPoint.astro";
import Clock from "../components/Clock.vue";

const agendaPoints = await getCollection("agenda");
---

<BaseLayout>
    <main class="min-h-svh w-full flex flex-col items-center gap-3">
        <Clock class="text-6xl font-mono my-4 px-2 border-b-4 w-fit" client:load />
        {
            agendaPoints.map((point: { data: AgendaPointType }) => (
                <>
                    <AgendaPoint {...point} />
                    <span class="rounded w-11/12 h-0.5 bg-white opacity-50 last:hidden" />
                </>
            ))
        }
    </main>
</BaseLayout>
