---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout>
    <main class="flex items-center justify-center gap-4 text-center h-20 w-full flex-row">
        <h1 class="text-4xl font-bold">Hello, People! I'm a Beamer!</h1>
    </main>
</BaseLayout>
