---
import BeamerView from "../components/BeamerView.vue";
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout>
    <main class="h-svh w-full bg-black">
        <BeamerView client:load />
    </main>
</BaseLayout>
