---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout>
    <main
        class="min-h-svh w-full flex flex-col items-center justify-center gap-4 bg-black bg-no-repeat bg-contain bg-center"
        style="background-image: url(/ATec_black.jpg)"
    >
    </main>
</BaseLayout>
