---
import Clock from "../../components/Clock.vue";
import ControlBtn from "../../components/ControlBtn.vue";
import TimerSetter from "../../components/TimerSetter.vue";
import SetTextInput from "../../components/SetTextInput.vue";
import BaseLayout from "../../layouts/base.astro";

import AdminButtons from "../../config/AdminButtons.ts";
---

<BaseLayout>
    <main class="flex min-h-svh w-full flex-col items-center gap-3">
        <Clock class="my-4 w-fit border-b-4 px-2 font-mono text-6xl" client:load />
        <section class="grid w-4/5 grid-cols-3 grid-flow-row gap-3">
            {AdminButtons.map((btn) => (
                <ControlBtn client:load label={btn.label} wstarget={btn.wstarget} wsargs={btn.wsargs} />
            ))}
        </section>
        <TimerSetter client:load />
        <span class="h-0.5 w-11/12 rounded bg-white opacity-50 last:hidden"></span>
        <SetTextInput client:load />
    </main>
</BaseLayout>
