---
import ControlBtn from "../../components/ControlBtn.vue";
import BaseLayout from "../../layouts/base.astro";
---

<BaseLayout>
    <main>
        <!-- <ControlBtn client:load label="Show Clock" wstarget="/beamer/show-clock" /> -->
    </main>
</BaseLayout>
